.img-hacer{
    border-radius: 150px;
    height: 200px;
    width: 350px;
    border-radius: 15px;
}
.cosas{
    border-radius: 150px;
    height: 200px;
    width: 350px;
    border-radius: 15px;
}
.todo{
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}
.principal{
    
    justify-content: 0;
    border-radius: 15px;
}

